## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(columns=['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
name_count = application_df['NAME'].value_counts()
name_count[name_count > 50]

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
LAMBDA THETA ALPHA                                                      52
Name: NAME, dtype: int64

In [4]:
name_types_to_replace = list(name_count[name_count < 50].index)

# Replace in dataframe
for name in name_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 24545
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
AIR FORCE ASSOCIATION                                                    99
WORKERS UNITED                                                           97
GAMMA THETA UPSILON                                                      92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                               91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                  87
ROTARY INTERNATIONAL                                                     84
CALIFORNIA GARDEN CLUBS INC                                              76
SWEET ADELINES INTERNATIONAL                                             73
DISABLED AMERICAN VETERANS                                               73
KLEIN SUPPORT GROUPS INC                                                 69
CLEARCREEK I S D SUPPORT GROUPS                                          60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                 58
CISD EDUCATIONAL SUPPORT GROUPS INC                                      57
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC           57
SONS OF CONFEDERATE VETERANS INC                                         56
SLOW FOOD USA INC                                                        55
NATIONAL YOUNG MENS SERVICE LEAGUE                                       54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                              52
LAMBDA THETA ALPHA                                                       52
UNITED FEDERATION OF DOLL CLUBS INC                                      50
UNIVERSITY OF FLORIDA                                                    50
Name: NAME, dtype: int64

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                        52
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_type_count = application_df['APPLICATION_TYPE'].value_counts()
application_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_count[application_type_count < 20].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       27
T12         27
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count[classification_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CALIFORNIA GARDEN CLUBS INC,NAME_CISD EDUCATIONAL SUPPORT GROUPS INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_dummies['IS_SUCCESSFUL'].values

X = application_dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
num_input_features = len(X_train_scaled[1])
print(f"Number of Input Features : {num_input_features}")

Number of Input Features : 104

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
hidden_nodes_layer1 =  150
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 50
hidden_nodes_layer4 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=num_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 150)               15750
_________________________________________________________________
dense_1 (Dense)              (None, 100)               15100
_________________________________________________________________
dense_2 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_3 (Dense)              (None, 25)                1275
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 26
=================================================================
Total params: 37,201
Trainable params: 37,201
Non-trainable params: 0
_________________________________________________________________

2023-07-21 13:06:53.082194: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2023-07-21 13:06:53.082809: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.4959 - accuracy: 0.7544
Epoch 2/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4785 - accuracy: 0.7661
Epoch 3/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4756 - accuracy: 0.7666
Epoch 4/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4735 - accuracy: 0.7685
Epoch 5/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4719 - accuracy: 0.7682
Epoch 6/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4711 - accuracy: 0.7693
Epoch 7/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4700 - accuracy: 0.7695
Epoch 8/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4685 - accuracy: 0.7705
Epoch 9/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4688 - accuracy: 0.7699
Epoch 10/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4680 - accuracy: 0.7708
Epoch 11/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4669 - accuracy: 0.7717
Epoch 12/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4667 - accuracy: 0.7706
Epoch 13/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4656 - accuracy: 0.7715
Epoch 14/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4648 - accuracy: 0.7724
Epoch 15/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4643 - accuracy: 0.7728
Epoch 16/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4633 - accuracy: 0.7726
Epoch 17/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4637 - accuracy: 0.7731
Epoch 18/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4629 - accuracy: 0.7737
Epoch 19/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4627 - accuracy: 0.7739
Epoch 20/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4622 - accuracy: 0.7735
Epoch 21/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4617 - accuracy: 0.7742
Epoch 22/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4607 - accuracy: 0.7744
Epoch 23/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4613 - accuracy: 0.7743
Epoch 24/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4605 - accuracy: 0.7739
Epoch 25/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4601 - accuracy: 0.7750
Epoch 26/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4600 - accuracy: 0.7749
Epoch 27/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4597 - accuracy: 0.7755
Epoch 28/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4590 - accuracy: 0.7748
Epoch 29/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4592 - accuracy: 0.7746
Epoch 30/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4587 - accuracy: 0.7753
Epoch 31/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4586 - accuracy: 0.7755
Epoch 32/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4583 - accuracy: 0.7754
Epoch 33/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4586 - accuracy: 0.7757
Epoch 34/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.4573 - accuracy: 0.7768
Epoch 35/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4579 - accuracy: 0.7750
Epoch 36/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4572 - accuracy: 0.7765
Epoch 37/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4573 - accuracy: 0.7767
Epoch 38/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4572 - accuracy: 0.7755
Epoch 39/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4572 - accuracy: 0.7760
Epoch 40/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4564 - accuracy: 0.7766
Epoch 41/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4562 - accuracy: 0.7766
Epoch 42/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4566 - accuracy: 0.7759
Epoch 43/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4563 - accuracy: 0.7762
Epoch 44/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.4558 - accuracy: 0.7767
Epoch 45/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4553 - accuracy: 0.7767
Epoch 46/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4561 - accuracy: 0.7763
Epoch 47/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4552 - accuracy: 0.7772
Epoch 48/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4563 - accuracy: 0.7768
Epoch 49/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4563 - accuracy: 0.7763
Epoch 50/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4568 - accuracy: 0.7762
Epoch 51/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4554 - accuracy: 0.7772
Epoch 52/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4554 - accuracy: 0.7773
Epoch 53/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4545 - accuracy: 0.7769
Epoch 54/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.4571 - accuracy: 0.7757
Epoch 55/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.4558 - accuracy: 0.7771
Epoch 56/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4555 - accuracy: 0.7772
Epoch 57/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4555 - accuracy: 0.7769
Epoch 58/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4562 - accuracy: 0.7769
Epoch 59/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4553 - accuracy: 0.7769
Epoch 60/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4543 - accuracy: 0.7769
Epoch 61/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.4547 - accuracy: 0.7769
Epoch 62/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4554 - accuracy: 0.7765
Epoch 63/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.4551 - accuracy: 0.7773
Epoch 64/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.4554 - accuracy: 0.7775
Epoch 65/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4546 - accuracy: 0.7777
Epoch 66/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4550 - accuracy: 0.7769
Epoch 67/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4553 - accuracy: 0.7762
Epoch 68/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4574 - accuracy: 0.7762
Epoch 69/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.4566 - accuracy: 0.7765
Epoch 70/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4551 - accuracy: 0.7776
Epoch 71/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4561 - accuracy: 0.7762
Epoch 72/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4554 - accuracy: 0.7770
Epoch 73/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.4545 - accuracy: 0.7776
Epoch 74/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4544 - accuracy: 0.7779
Epoch 75/100

25724/25724 [==============================] - 3s 109us/sample - loss: 0.4550 - accuracy: 0.7771
Epoch 76/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.4554 - accuracy: 0.7775
Epoch 77/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.4551 - accuracy: 0.7767
Epoch 78/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.4556 - accuracy: 0.7772
Epoch 79/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.4562 - accuracy: 0.7778
Epoch 80/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.4549 - accuracy: 0.7771
Epoch 81/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.4552 - accuracy: 0.7780
Epoch 82/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4547 - accuracy: 0.7770
Epoch 83/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4546 - accuracy: 0.7772
Epoch 84/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.4550 - accuracy: 0.7777
Epoch 85/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4550 - accuracy: 0.7774
Epoch 86/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.4544 - accuracy: 0.7771
Epoch 87/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.4556 - accuracy: 0.7776
Epoch 88/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.4539 - accuracy: 0.7784
Epoch 89/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.4538 - accuracy: 0.7776
Epoch 90/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.4543 - accuracy: 0.7786
Epoch 91/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.4544 - accuracy: 0.7778
Epoch 92/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4546 - accuracy: 0.7781
Epoch 93/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.4549 - accuracy: 0.7778
Epoch 94/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4548 - accuracy: 0.7771
Epoch 95/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.4538 - accuracy: 0.7774
Epoch 96/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.4552 - accuracy: 0.7766
Epoch 97/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.4550 - accuracy: 0.7778
Epoch 98/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.4539 - accuracy: 0.7786
Epoch 99/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4533 - accuracy: 0.7785
Epoch 100/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.4543 - accuracy: 0.7782

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.4604 - accuracy: 0.7630
Loss: 0.49300123992536227, Accuracy: 0.763032078742981

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')